3. félév/webtech/movies/movies.dtd

<!ELEMENT movies (movie*)>
<!ELEMENT movie (title+, year, genre+, rating, votes)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT votes (#PCDATA)>
<!ATTLIST movie id CDATA #REQUIRED>
<!ATTLIST movie mpa-rating (G | R | PG | PG-13 | NC-17 ) #REQUIRED>
<!ATTLIST title xml:lang NMTOKEN #REQUIRED>