3. félév/webtech/hamlet/hamlet.dtd

<!ELEMENT play (author, title, act+)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT act (title, scene+)>
<!ELEMENT scene (title, (speech | stagedir)+)>
<!ELEMENT stagedir (#PCDATA)>
<!ELEMENT speech (speaker, (line | stagedir)+)>
<!ELEMENT speaker (#PCDATA)>
<!ELEMENT line (#PCDATA | stagedir)*>